.Login {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.LoginPage {
    width: 20%;
    height: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.LoginName {
   color: #ED5992;
   font-weight: 100;
}
.login_form {
    font-size: 20px;
    width: 300px;
    text-align: center;
}
.formItem {
    font-size: 20px;
}
.RegistrationPage {
    text-align: center;
    padding-top:1%;
    font-size: 20px;
}
.RegistrationPage a {
    color:#ED5992;
}
.RegistrationPage a:hover {
    text-decoration: underline;
}
.error {
    color:red;
    font-weight: bold;
}
